h3 {
    text-align: center;
    background-color: red;
    color: gold;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 10px 10px 0 0;
    width: 696px;
    height: 48px;
}

#sketch-container {
    margin: 0;
    display: flex;
    border: 48px solid red;
    border-top: 0;
    border-bottom: 0;
    height: 600px;
    width: 600px;
}

#container-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    width: 696px;
    height: 48px;
    border-radius: 0 0 10px 10px;
}

.circle {
    background-color: white;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 16px;
    box-shadow: 2px 4px 4px black;
}

#button-container {
    margin: 20px;
}

.sketch-node {
    flex: 1 0 auto;
    height: auto;
}

.sketch-node:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.sketch-row {
    flex: 1 0 auto;
}

.shake {
    animation: shake .5s ease-in-out;
}

.wipe {
    transition: background-color .5s linear;
}

@keyframes shake {
    10%, 90% {
        transform: translateY(-2px);
    }

    20%, 80% {
        transform: translateY(4px);
    }

    30%, 50%, 70% {
        transform: translateY(-8px);
    }

    40%, 60% {
        transform: translateY(8px);
    }
}